body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(211, 193, 223);
}
header, footer{
    text-align: center;
    color: #f2f2f2;
    background-color: #f2f2f2;
    padding: 10px 0;
    background-color: bisque;
    background-image: url(https://i.pinimg.com/originals/8e/d6/8c/8ed68cb0e0257aef072b8431648b4e81.gif);
    width: 100%;
    height: auto;
    border-radius: 10px;
}
section div {
    flex-basis: 50%;
    margin: 50px;
    text-align: right;
}
section img{
    width: 75%;
    height: auto;
    border-radius: 50px;
    mix-blend-mode: multiply;
    margin-right: 80px;
    
}
section{
    display: flex;
}
h1{
    margin-right: 100px;
}
